<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Release Notes</title>
  </head>
  <body>
    <h1>Release Notes</h1>

    <h2>1.12 (2016-01-DD)</h2>
    <p>This maintenance release includes the following fixes:</p>
    <ul>
      <li style="list-style:square">Fix <a target="_blank" 
      href="https://github.com/opengeospatial/ets-kml22/issues/6">issue #6</a>: 
      Redirects to 'https' endpoints are not followed</li>
      <li style="list-style:square">Update dependencies</li>
    </ul>

    <h2>2.2-r11 (2014-08-15)</h2>
    <p>This release includes the following changes:</p>
    <ul>
      <li style="list-style:square">Updated documentation.</li>
    </ul>

    <h2>2.2-r10 (2014-05-28)</h2>
    <p>The project is now hosted on GitHub. There are no substantive changes to any tests 
    in this release.</p>
    <ul>
      <li style="list-style:square">Modify POM for GitHub.</li>
      <li style="list-style:square">Add site content.</li>
      <li style="list-style:square">Change license to Apache License, Version 2.0.</li>
    </ul>

    <h2>2.2-r9 (2014-04-15)</h2>
    <p>This maintenance release includes the following fixes:</p>
    <ul>
      <li style="list-style:square">CITE-942: verifyLinkReferent cannot handle parameterized URL (in PhotoOverlay).</li>
    </ul>

    <h2>2.2-r8 (2014-03-20)</h2>
    <p>This maintenance release includes the following changes:</p>
    <ul>
      <li style="list-style:square">Resolve CITE-941: verifyUpdateTarget now checks updates against the original data.</li>
      <li style="list-style:square">Resolve CITE-938 (Incorrect ATS reference in verifyAltitudeInGroundOverlay).</li>
      <li style="list-style:square">Resolve CITE-903 (verifyGeometryTesselate test produces incorrect verdict).</li>
      <li style="list-style:square">Resolve CITE-884 (Add support for validating KMZ files).</li>
      <li style="list-style:square">Fix XPath expression in verifyTextureFileAliasInModel (SpatialTests).</li>
    </ul>

    <h2>2.2-r7 (2014-03-04)</h2>
    <p>This is a maintenance release; it includes the following changes:</p>
    <ul>
      <li style="list-style:square">Modify unit tests to run without a network connection.</li>
      <li style="list-style:square">Update dependencies to latest releases.</li>
    </ul>

    <h2>2.2-r6 (2013-09-19)</h2>
    <p>This is a maintenance release; it includes the following changes:</p>
    <ul>
      <li style="list-style:square">Updated dependencies: jts-1.13, jena-iri-1.0.0.</li>
      <li style="list-style:square">Write reporter output to test session directory when invoked via CTL script.</li>
    </ul>

    <h2>2.2-r5 (2013-08-23)</h2>
    <p>This is a maintenance release; it includes the following changes:</p>
    <ul>
      <li style="list-style: square;">CTL results show test verdicts for each conformance class.</li>
      <li style="list-style: square;">Updated dependencies.</li>
    </ul>

    <h2>2.2-r4 (2013-07-19)</h2>
    <p>This is a maintenance release; it includes the following fixes:</p>
    <ul>
      <li style="list-style: square;">CITE-844 (NoSuchMethodError thrown executing KML 2.2 test suite).</li>
      <li style="list-style: square;">Check lowest conformance level by default instead of highest.</li>
    </ul>

    <h2>2.2-r3</h2>
    <p>
      <ul>
        <li style="list-style: square;">Initial release (beta).</li>
      </ul>
    </p>

  </body>
</html>
