<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>KML 2.2 Conformance Test Suite</title>
    <meta charset="UTF-8" />
    <style type="text/css">
body {
	color: black;
	background: white;
	font-family: Georgia, serif;
}

h1,h2,h3 {
	font-family: Verdana, sans-serif;
	color: #000099;
	text-align: left;
}

h1 {
	font-size: 1.4em;
	margin-top: 2em;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1em;
	margin-bottom: 0.5em;
}

table {
	margin-top: 0.5em;
	margin-bottom: 1em;
	border-collapse: collapse;
}

td,th {
	padding: 0.25em;
	border: 1px solid black;
}

caption,figcaption {
	font-weight: bold;
	text-align: left;
	margin: 0.25em;
}

th {
	font-weight: bold;
	font-family: Verdana, sans-serif;
	text-align: left;
	vertical-align: top;
	background: #eeeeee;
	color: #000099;
}

dt {
	margin-top: 0.5em;
	font-weight: bold;
}
    </style>
  </head>
  <body>
    <h1>KML 2.2 Conformance Test Suite</h1>
    <h2>Scope</h2>
    <p>This test suite validates KML 2.2 documents according to the following specifications:</p>
    <ul>
      <li style="list-style: square;">[OGC-07-147r2] <a
			href="http://portal.opengeospatial.org/files/?artifact_id=27810"
			target="_blank" type="application/pdf">OGC® KML 2.2.0</a></li>
      <li style="list-style: square;">[OGC-07-134r2] <a
			href="ats-kml-2.2.html"
			target="_blank" type="text/html">OGC KML 2.2 - Abstract Test
				Suite</a></li>
    </ul>

    <p>Three conformance levels are defined, where each level builds upon the lower level by adding 
    additional constraints. Level 2 extends Level 1, and Level 3 is based on Level 2. A conforming 
    implementation must produce documents that validate at level 1 in order to obtain an OGC compliance 
    certificate.</p>
    <ul>
      <li style="list-style: square;"><em>Level 1</em> - includes test cases covering requirements
			that must be satisfied by a minimally conformant document;</li>
      <li style="list-style: square;"><em>Level 2</em> - as for Level 1, plus test cases addressing
			recommended constraints;</li>
      <li style="list-style: square;"><em>Level 3</em> - as for Level 2, plus test cases covering
			suggested constraints that are informative in nature.</li>
    </ul>

    <h2>Organization of the test suite</h2>
    <p>The test suite implements the test cases defined in the abstract test suite (ATS). 
    The Java implementation classes generally correspond to a logical theme. For example 
    the <code>TemporalElementTests</code> class realizes the following test cases:
      <ul>
        <li><a href="ats-kml-2.2.html#TimeSpan">ATC 4: TimeSpan</a></li>
        <li><a href="ats-kml-2.2.html#TimeStamp">ATC 5: TimeStamp</a></li>
      </ul>
    </p>

    <p>
    All of the test cases are described in the <a href="ats-kml-2.2.html">ATS</a>. 
    More details about the implementation are explained in the next section. </p>

    <h2>Structure of the source code</h2>
    <p>The TestNG suite definition file (testng.xml) is located in the root package, 
      <code>org.opengis.cite.kml22</code>. A conformance class corresponds to a 
    &lt;test&gt; element; each test element includes a set of test classes that 
    contain the actual test methods. The essential structure of the test suite is 
    shown in Table 1.</p>

    <table border="1" style="border-collapse: collapse;">
      <caption>Table 1 - Test suite structure</caption>
      <thead>
        <tr style="background-color:#eeeeee;">
          <th>Conformance class</th>
          <th>Test classes</th>
        </tr>
      </thead>
      <tbody>
        <tr style="vertical-align: top;">
          <td>Level 1</td>
          <td>
            <ul style="list-style: none;">
              <li>org.opengis.cite.kml22.level1.KmlDocumentTests</li>
              <li>org.opengis.cite.kml22.level1.SpatialTests</li>
              <li>org.opengis.cite.kml22.level1.StyleTests</li>
              <li>org.opengis.cite.kml22.level1.TemporalElementTests</li>
              <li>org.opengis.cite.kml22.level1.LinkTests</li>
              <li>org.opengis.cite.kml22.level1.FeatureTests</li>
              <li>org.opengis.cite.kml22.level1.UserDefinedDataTests</li>
              <li>org.opengis.cite.kml22.level1.ViewTests</li>
            </ul>
          </td>
        </tr>
        <tr style="vertical-align: top;">
          <td>Level 2</td>
          <td>
            <ul style="list-style: none;">
              <li>org.opengis.cite.kml22.level2.Level2Tests</li>
              <li>org.opengis.cite.kml22.level2.Recommendations</li>
              <li>org.opengis.cite.kml22.level2.StyleRecommendations</li>
            </ul>
          </td>
        </tr>
        <tr style="vertical-align: top;">
          <td>Level 3</td>
          <td>
            <ul style="list-style: none;">
              <li>org.opengis.cite.kml22.level3.Level3Tests</li>
              <li>org.opengis.cite.kml22.level3.Options</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <p>The <a href="apidocs/index.html">Javadoc</a> documentation provides more detailed 
    information about the test classes and test methods that comprise the suite.</p>

    <h2>How to run the tests</h2>
    <p>The test suite may be run in any of the following environments:</p>
    <ul>
      <li style="list-style: square;">TEAM-Engine in a web application environment</li>
      <li style="list-style: square;">TEAM-Engine in a command-line environment: 
      Run the CTL script located in the <code>/src/main/ctl/</code> directory.</li>
      <li style="list-style: square;">Integrated development environment (IDE): The main Java class
			is <code> TestNGController</code>.
      </li>
      <li style="list-style: square;">REST API: Submit a request that includes the necessary
			arguments to the test run controller (/rest/suites/kml22/${project.version}/run).
      </li>
    </ul>

    <p>
		The test run arguments are summarized in Table 2. The value domain is expressed in 
    terms of XML Schema datatypes for convenience. The <em>Obligation</em> descriptor 
    can have the following values: M (mandatory), O (optional), or C (conditional).
    </p>

    <table border="1" style="border-collapse: collapse;">
      <caption>Table 2 - Test run arguments</caption>
      <thead>
        <tr style="background-color:#eeeeee;">
          <th>Name</th>
          <th>Value domain</th>
          <th>Obligation</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>iut</td>
          <td>anyURI</td>
          <td>M</td>
          <td>A URI that refers to the instance document under test.
					Ampersand ('&amp;') characters must be percent-encoded as '%26'.</td>
        </tr>
        <tr>
          <td>ics</td>
          <td>positiveInteger</td>
          <td>O</td>
          <td>Indicates which conformance level (1-3) will be used to
					validate the instance document. If not specified, the lowest
					conformance level will be checked (ics=1).</td>
        </tr>
      </tbody>
    </table>

    <h2>Reference implementation and sample files</h2>
    <p>The reference implementation is the <a target="_blank" href="http://gdal.org/ogr/drv_libkml.html">
    LIBKML Driver</a> in the GDAL (Geospatial Data Abstraction Library ) 1.11.0 library. 
    Sample files created using the driver are available in a zip file 
      <a href="Supporting_Docs_KML_2.2_GDAL.zip">here</a>.</p>

    <h2>Feedback</h2>
    <p>Feedback and suggestions are very welcome. Please use the <a target="_blank" 
    href="https://github.com/opengeospatial/ets-kml22/issues">GitHub issue tracker</a>. 
    More general questions about any aspect of OGC conformance testing should be 
    directed to the <a target="_blank" href="http://cite.opengeospatial.org/forum">
    CITE Forum</a>.</p>

  </body>
</html>
